<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>djangogirls</title>
</head>
<body>
  <div>
    <h1>
      <a href="">
        django girls blog
      </a>
    </h1>
  </div>

  <div>
    <p>
      published: aaaa
    </p>
    <h2>
      <a href="">
        My First Project
      </a>
    </h2>
    <p>
      Hello World.
    </p>
  </div>

  <div>
    <p>
      published: bbbb
    </p>
    <h2>
      <a href="">
        My Second Project
      </a>
    </h2>
    <p>
      Hello World.
    </p>
  </div>
  
</body>
</html>
